{
  "root": true,
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 200,
        "ignoreComments": true

      }
    ],
    "no-console": "off",
    "no-underscore-dangle": "off"
  }
}

